/* Alterando cor por nome */
.nome{
    color: hotpink;
    background-color: lightpink;
}
/* alterando cor por hexadecimal */
.hexadecimal{
    color :#529eeb;
    background-color:#b7d7f7;
}
/* alterando a cor por RGBA */
.rgba{
    color: rgba(131, 39, 196, 0.52);
    background-color: rgba(131, 39, 196, 0.52);
}

/* Alterando a segunda página */
.titulo-background{
    text-align:center;
    color: azure;
    background-color: rgb(97, 199, 199);
}
.div-background{
    background-image: url(mar.jpg);
    height: 500px;
}